@import "../scss/global.scss";


#logolang {
    border: 0.5vw $qanat_blue solid;
    color: $qanat_blue;
    display: block;
    padding: 20px;
    margin: 10px auto;
    width:fit-content;  
    font-size: 5vw;
    span{
        font-size: 5vw;
    }
}

p {
    font-family:$qanat;
    font-size: 9vw;
    color: $qanat_sand;
    font-weight: 100;
    letter-spacing: 10px;
    //color: #0B4060;
    //text-shadow:5px 5px 5px #F5AF7C;
    text-align: center;
    display: block;
    width:fit-content;
    span {
        font-family: $primary-font-bold;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -10px;
        text-decoration: underline;
        font-size: 8vw;
        vertical-align: top;
    }
}

#logoschrift {
    font-family: $qanat;
    font-size: 15vw;
    color: $qanat_blue;
    margin: 0 auto;
    text-align: center;
    display: inline;
    border: none;
    //text-shadow: 5px 5px 0px transparent;
}

#logoschrift2 {
    font-family: $qanat;
    font-size: 15vw;
    color: $qanat_sand;
    //border: white solid;
    margin: 0 auto;
    text-align: center;
    display: block;
    border: none;
    //color: transparent;
    //text-shadow: 5px 5px 0px #transparent;
    
}

#centerTop {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    gap: 150px;
    justify-content: space-between;
    align-items: center;
}

#unterzeileBlue {
    width: 10%;
    font-family: $primary-font;
    font-size: 1.5vw;
    letter-spacing: 1px;
    color: $qanat_blue;
    text-align: left;
    margin: 0 auto;
}

#unterzeileSand {
    font-family: $primary-font;
    font-size: 1vw;
    letter-spacing: 1px;
    color: $qanat_sand;
    margin: -2rem auto 2rem;
}

#navOnPage {
    margin: 0 auto;
    ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content:space-between;
        gap: 10px;
        align-items: flex-end;
        padding: 0px;
        font-family: $primary-font;
        //text-decoration: none;
        li {
            list-style-type: none;
            text-decoration: none;
            p{
                letter-spacing: 1px;
                color: $qanat_blue; 
                font-family: $primary-font;
                font-size: 1vw;
                text-decoration: none;
            }
        }   
    }
}



#logolang2 {
    border: 0.5vw $qanat_sand solid;
    display:block;
    padding: 20px;
    margin: 10px auto;
    width:fit-content;
    font-size: 5vw;
    span{
        font-size: 5vw;
    }
}



