@import "../scss/App.scss";
@import '../scss/typography/typography.scss';

h1 {
    text-align: center;
}

#textviernullvier {
    text-align: center;
    vertical-align: middle;
    padding: 100px;
}
    