@import "../scss/global.scss";


#goal {
    height: 50%;
        h2 {
            display: block;
            margin: 20px auto;
            color: $qanat_blue;
            font-size: 40px;
            font-family: $primary-font-bold;
            margin: 0 auto;
            text-align: left;
        }
        #goalimg {
            width: 100%;
            object-fit: cover;
        }
    
}