@import "../scss/global.scss";


#goal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
    
        h2 {
            display: block;
            margin: 100px auto;
            color: $qanat_blue;
            font-size: 40px;
            font-family: $primary-font-bold;
            text-align: left;
        }
        #goalimg {
            width: 60%;
            object-fit: cover;
        }
    
}