@import "../scss/global.scss";

*{
    text-decoration: none;
}

#goal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
    
    h2 {
            margin: 5%;
            display: block;
            //margin: 100px auto;
            color: $qanat_blue;
            //font-size: 40px;
            font-family: $primary-font-bold;
            text-align: left;
        }
        #goalimg {
            width: 60%;
            object-fit: cover;
        }
    
}