@import "../scss/global.scss";


#system {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
    div {
        width: 30%;
        margin: 5%;
        h2 {
            display: inline;
            //margin: 20px auto;
            color: $qanat_blue;
            //font-size: 1.5vw;
            font-family: $primary-font-bold;
            text-align: left;
        }
        p {
            font-family: $primary-font;
            font-size: 1.3vw;
            color: $qanat_blue;
            font-weight: normal;
            letter-spacing: 1px;
            //margin-top: 50px;
            text-align: left;
        }
    }
    img {
        width: 60%;
        object-fit: contains;
        box-shadow: 10px 10px 20px $qanat_blue;
    }
}