@import "../scss/global.scss";

#team {
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
    div {
        flex: 1;
        margin: 5% 0 5% 5%;
        //border: solid;
        h2 {
            display: inline;
            margin: 20px auto;
            color: $qanat_blue;
            //font-size: 40px;
            font-family: $primary-font-bold;
            margin: 0 auto;
            text-align: left;
        }
        p{
            font-family: $primary-font;
            font-size: 1rem;
            color: $qanat_blue;
            font-weight: normal;
            letter-spacing: 1px;
            margin-top: 30px;
            text-align: left;
            display: block;
            width:fit-content;
        }
    }
    #teamimage {
        height: 60vh;
        width: auto;
        //margin:5%;
        max-height: 500px;
        margin-left: 0%;
        position: relative;
        left: 0px;
        object-position: center center;
        //border: solid;
        box-shadow: 10px 10px 20px $qanat_blue;
      
    }
}
