@import "../scss/global.scss";

#team {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    gap: 50px;
    div {
        margin:5%;
        h2 {
            display: inline;
            margin: 20px auto;
            color: $qanat_blue;
            //font-size: 40px;
            font-family: $primary-font-bold;
            margin: 0 auto;
            text-align: left;
        }
        p{
            font-family: $primary-font;
            font-size: 1rem;
            color: $qanat_blue;
            font-weight: normal;
            letter-spacing: 1px;
            margin-top: 50px;
            text-align: left;
            display: block;
            width:fit-content;
        }
    }
    #teamimage {
        height: 60vh;
        //margin:5%;
        max-height: 500px;
        margin-left: 5%;
      
    }
}
