@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@font-face {
  font-family: "VIA-Verlag";
  src: url("../../fonts/VIA-Verlag.woff2") format("woff2"), url("../../fonts/VIA-Verlag.otf") format("otf");
}
@font-face {
  font-family: "BillboardShadow";
  src: url("../../fonts/Bilboard/Billboard-Shadow.woff2") format("woff2"), url("../../fonts/Bilboard/Billboard-Shadow.otf") format("otf");
}
@font-face {
  font-family: "Carbono";
  src: url("../../fonts/carbono/carbono.woff2") format("woff2"), url("../../fonts/carbono/carbono.otf") format("otf");
}
@font-face {
  font-family: "Vacaciones";
  src: url("../../fonts/vacaciones-outline/Vacaciones-font-ffp-defharo.woff2") format("woff2"), url("../../fonts/vacaciones-outline/Vacaciones-font-ffp-defharo.otf") format("otf");
}
@font-face {
  font-family: "CorporateDemi";
  src: url("../../fonts/Corporate/CorporateSTOT-Dem.woff2") format("woff2"), url("../../fonts/Corporate//CorporateSTOT-Dem.otf") format("otf");
}
@font-face {
  font-family: "CorporateReg";
  src: url("../../fonts/Corporate/CorporateSTOT-Reg.woff2") format("woff2"), url("../../fonts/Corporate/CorporateSTOT-Reg.otf") format("otf");
}
@font-face {
  font-family: "ChalkLine";
  src: url("../../fonts/chalk_line_outline/ChalkLine-Outline.woff2") format("woff2"), url("../../fonts/chalk_line_outline/ChalkLine-Outline.otf") format("otf");
}
@font-face {
  font-family: "Thunderlord";
  src: url("../../fonts/thunder_lord/ThunderLord.woff2") format("woff2"), url("../../fonts/thunder_lord/ThunderLord.otf") format("otf");
}
@font-face {
  font-family: "FoundSanExpNorm";
  src: url("../../fonts/Foundry/FOUSANNO.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANNO.otf") format("otf");
}
@font-face {
  font-family: "FoundSanBd";
  src: url("../../fonts/Foundry/FOUSANBD.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANBD.otf") format("otf");
}
@font-face {
  font-family: "FoundSanExpMed";
  src: url("../../fonts/Foundry/FOUSANMD.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANMD.otf") format("otf");
}
@font-face {
  font-family: "FoundSanExBold";
  src: url("../../fonts/Foundry/FOUSANEB.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANEB.otf") format("otf");
}
@font-face {
  font-family: "Compass";
  src: url("../../fonts/Compass/Compass.woff2") format("woff2"), url("../../fonts/Compass/Compass.otf") format("otf");
}
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
* ::-webkit-scrollbar {
  display: none;
}

/* textsizes*/
/*$medium: 4rem;
$large: 10rem;
$huge: 20rem;

$border-radius:*/
/*Mediasetting*/
/* Fonts */
/* logos */
nav {
  display: flex;
  background-color: rgb(10, 40, 60);
  color: rgb(245, 190, 125);
  /* box-shadow: 10px 20px 30px $qanat_sand; */
  /* border-bottom: 2px $qanat_blue; */
}
nav ul {
  font-family: "FoundSanExpNorm", sans-serif;
  font-size: 20px;
  position: static;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: right;
  gap: 50px;
  align-items: center;
  padding: 30px;
  flex-flow: row nowrap;
  width: 100%;
}
nav ul li {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
nav p {
  font-size: 5rem;
  padding: 20px;
  font-weight: 100;
  color: rgb(245, 190, 125);
}/*# sourceMappingURL=Header.css.map */