@import '../../scss/global.scss';


nav {
  display: flex;
  background-color: $qanat_blue;
  color: $qanat_sand;
  /* box-shadow: 10px 20px 30px $qanat_sand; */
  /* border-bottom: 2px $qanat_blue; */

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content:right;
    align-items: center;
    gap: 20px;
    font-family: $primary-font;
    font-size: 20px;
    position:static;
    top: 0px;
    left: 0px;
    padding: 20px;
    width: 100%;
    li {
      list-style-type: none;
      color: white; 
      text-decoration: none;
      text-decoration-style: wavy $qanat_sand;
      p{
        letter-spacing: 1px;
        color: $qanat_sand; 
        font-family: $primary-font;
        font-size: 20px;
        text-decoration: none;
    }
    }
  }
  p {
    font-size: 5rem;
    padding: 20px;
    font-weight:100;
    color: $qanat_sand;
  }
}

