@import "./typography/typography.scss";
@import "./reset/reset.scss";
@import "./variables/variables.scss";


body {
    background-color: $qanat_sand;
}

.header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    //border-bottom: solid 0px white;
}

.footer {
    position: static;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.bg1 {
    background-color: $qanat_sand;
    //height: 40%;
    background-color: $qanat_sand;
    padding: 20px;
    margin: 0;
}

.firstoption {
    background-color: $qanat_sand;
    padding: 20px;
    height: 98%;
    width: 100%;
    border: 4px solid $qanat_blue;
    margin: 100px auto 0px;
    /*  background-image: url(../Images/image2.jpg);
    background-position: 50%;
    background-size: 150%; */
    //background-image: url(../Images/image2.jpg);
    //background-image: linear-gradient($qanat_blue, $qanat_sand);
    //background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
}

.bg2 {
    background-color: $qanat_blue;
    height: 40%;
    background-color: $qanat_blue;
    padding: 20px;
}

.secondoption {
    background-color: $qanat_blue;
    padding: 20px;
    height: 100%;
    width: 100%;
    border: 4px solid $qanat_sand;
    margin: 0px auto;
    
    //background-image: linear-gradient($qanat_sand, $qanat_blue);
}
