@import "./typography/typography.scss";
@import "./reset/reset.scss";
@import "./variables/variables.scss";


body {
    background-color: $qanat_sand;
    width: 60%;
    max-width: 1200px;
    margin: auto;
}

.header {
    position: static;
    top: 0;
    height: 100px;
    width: 100%;
    margin-top: 10%;
    //border-bottom: solid 0px white;
}

.footer {
    position: static;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.bg1 {
    //height: 40%;
    background-color: $qanat_sand;
    padding: 20px;
    margin: 0;
}

.firstoption {
    background-color: $qanat_sand;
    padding: 20px;
    height: 98%;
    width: 100%;
    border: 4px solid $qanat_blue;
    margin: auto 0px;
    /*  background-image: url(../Images/image2.jpg);
    background-position: 50%;
    background-size: 150%; */
    //background-image: url(../Images/image2.jpg);
    //background-image: linear-gradient($qanat_blue, $qanat_sand);
    //background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
}

.bg2 {
    background-color: $qanat_blue;
    height: 40%;
    background-color: $qanat_blue;
    padding: 20px;
}

.secondoption {
    background-color: $qanat_blue;
    padding: 20px;
    height: 100%;
    width: 100%;
    border: 4px solid $qanat_sand;
    margin: 0px auto;
    
    //background-image: linear-gradient($qanat_sand, $qanat_blue);
}

h2 {
    font-size: 1.5vw;
}

@media screen and (max-width:$desktop){
    body {
        background-color: $qanat_sand;
        width: 80%;
        margin: auto;
    }
    nav ul li p {
        font-size: 0.7rem;
    };
    #navOnPage ul li p{
        font-size: 12px;   
    };
    #unterzeileBlue {
        font-size: 14px;
    }
  }

@media screen and (max-width:$tablet){
    body {
        background-color: $qanat_sand;
        width: 100%;
        margin: auto;
    }
    #navOnPage ul li p{
        font-size: 10px;
    }
    #unterzeileBlue {
        font-size: 12px;
    }
}